.navContainer {
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;

  background-color: var(--background-color);
  color: white;
  padding: 1rem 0rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  width: 100vw;
  z-index: 700;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 1200px;
  padding: 0 20px;
}
.navLogo {
  height: 30px;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.navbarMobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 1.5rem 1.5rem 0 0;
  color: white;
  padding: 2rem 1.5rem 4 rem;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
  z-index: 700;
  max-width: var(--max-app-width);
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* border: 1px solid var(--primary-color); */
}
.navbar-left,
.navbar-right {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* border: 1px solid var(--primary-color); */
}
.navbarMobile a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  border-radius: 50%;
}
.navbar-left p,
.navbar-right p,
.navbar-icon p {
  margin: 3px 0 0 0;
  font-size: 0.8rem;
}

@media screen and (min-width: 480px) {
  .navContainer {
    display: flex;
  }
  .navbarMobile {
    display: none;
  }
}
