.schedulesSelectorContainer {
  display: flex;
  flex-direction: column;
  padding: 0rem 20px;
  max-width: 1200px;
  margin: auto;
  margin-top: 80px;
}

.chart-container {
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .schedulesSelectorContainer {
    margin-top: 20px;
  }
}
